In [1]:
import pandas as pd
import numpy as np


#设置要处理的stack
model_type = 'gbdt' # 模型类型
model_num = 1 # 序列号
test_set = 'A' # 1为A赛段，2为B赛段

In [2]:
def read_stack_results(model, num, test_set):
    path = 'data/result/{}/stack{}/'.format(model, num)
    sub1 = pd.read_csv(path+'test{}_predict1.csv'.format(test_set))
    sub2 = pd.read_csv(path+'test{}_predict2.csv'.format(test_set))
    sub3 = pd.read_csv(path+'test{}_predict3.csv'.format(test_set))
    sub4 = pd.read_csv(path+'test{}_predict4.csv'.format(test_set))
    sub5 = pd.read_csv(path+'test{}_predict5.csv'.format(test_set))
    return sub1, sub2, sub3, sub4, sub5

In [3]:
sub1, sub2, sub3, sub4, sub5 = read_stack_results(model_type, model_num, test_set)
fusion = pd.concat([sub1.score, sub2.score, sub3.score, sub4.score, sub5.score], 1)
print('concat head:')
print(fusion.head())
fusion_score = fusion.mean(1)
print('fusion shape:',fusion_score.shape)
print('fusion head:')
fusion_score.head()

concat head:
      score     score     score     score     score
0  0.000113  0.000155  0.000208  0.000159  0.000184
1  0.002925  0.005734  0.002381  0.002023  0.002313
2  0.000022  0.000023  0.000019  0.000052  0.000011
3  0.000958  0.000710  0.000454  0.000395  0.000631
4  0.000598  0.000283  0.000162  0.000231  0.000083
fusion shape: (491668,)
fusion head:

0    0.000164
1    0.003075
2    0.000025
3    0.000630
4    0.000271
dtype: float64

In [4]:
print('original sub1:')
print(sub1.head())
print('fusion result:')
sub1.score = fusion_score.apply(lambda x: float('%.6f' % x))
sub1.head()

original sub1:
                                                  id     score
0  8e8290c270ec4bc3448dd5edd35c6f059b42d38f9ddd6f...  0.000113
1  f36c5fa5c0e7afccf733a4d74c7e06ffe43cc8fd24eda7...  0.002925
2  ee85f808b1fd49eaba308527e1686c509dc8e3e5057488...  0.000022
3  0df905aa187938d56a9b0816b13f54ac1f87d658a33cd0...  0.000958
4  15f532f979c4f092bbbe28e5409c8c3b8454ece8f1ab3e...  0.000598
fusion result:

                                                  id     score
0  8e8290c270ec4bc3448dd5edd35c6f059b42d38f9ddd6f...  0.000164
1  f36c5fa5c0e7afccf733a4d74c7e06ffe43cc8fd24eda7...  0.003075
2  ee85f808b1fd49eaba308527e1686c509dc8e3e5057488...  0.000025
3  0df905aa187938d56a9b0816b13f54ac1f87d658a33cd0...  0.000630
4  15f532f979c4f092bbbe28e5409c8c3b8454ece8f1ab3e...  0.000271

In [5]:
sub1.to_csv('data/result/{}/stack{}/submission.csv'.format(model_type, model_num), index=False)